.about-product {
  padding: 50px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  .container {
    max-width: 670px;
    flex-grow: 2;
    margin-right: 20px;

  }
  .video {
    width: 430px;
    max-width: 100%;
  }

  p {
    margin: 15px 0;
  }

  @media screen and (max-width: 800px){
    flex-direction: column;
    padding: 30px 10px;

    .container {
      max-width: 100%;
      margin-right: 0;
      margin-bottom: 20px;
    }
    .video {
      width: auto;

    }
  }
}