$block-bg: #ccc !default;

.dignity {
  padding: 50px 50px 26px;
  background: $block-bg;

  h2 {
    text-align: center;
  }

  .details-container {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -9px;
  }

  details {
    width: 50%;
    margin-bottom: 24px;
    position: relative;
    padding: 0 9px 0 50px;

    &[open] .cross:before {
      display: none;
    }

    summary {
      outline: none;
      cursor: pointer;
      display: block;
      &::-webkit-details-marker {
        display: none;
      }
    }

    p {
      margin: 6px 0 0;
    }
  }

  .cross {
    display: block;
    width: 32px;
    height: 32px;
    position: absolute;
    background: $primary-color;
    top: 5px;
    left: 0;

    &:after,
    &:before {
      content: '';
      background: #ffffff;
      position: absolute;
    }

    &:after {
      width: 20px;
      height: 4px;
      top: 14px;
      left: 6px;
    }
    &:before {
      width: 4px;
      height: 20px;
      top: 6px;
      left: 14px;
    }

    &.-minus {
      &:before {
        display: none;
      }
    }
  }

  @media screen and (max-width: 850px) {
    padding: 30px 15px;

    .details-container {
      margin: 0;
    }
    details {
      width: 100%;
      margin-bottom: 24px;
      position: relative;
      padding: 0 0 0 40px;
    }

  }
}