.screenshots {
  padding: 50px 50px 20px;

  h2 {
    text-align: center;
  }

  .container {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -10px;
  }

  figure {
    width: 50%;
    margin: 0 0 30px;
    position: relative;
    padding: 0 10px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    img {
      margin-right: 15px;
      width: auto;
      height: auto;
    }

    figcaption {
      flex-grow: 2;
    }

  }

  @media screen and (max-width: 1024px) {
    padding: 30px 15px;
    .container {
      margin: 0;
    }
    figure {
      width: 100%;
    }
  }
  @media screen and (max-width: 480px) {
    figure {
      flex-direction: column;

      img {
        margin:0 0 10px;
        width: 100%;
        height: auto;
      }
    }

  }
}