/* Variables */
$primary-color: #445162;

/* Globals */
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  font-family: Arial;
  font-size: 16px;
  line-height: 1.5;
}
.wrapper {
  max-width: 1280px;
  margin: 0 auto;
}
h1,h2,h3 {
  margin: 0;
  padding: 0;
}
h2 {
  font-weight: normal;
  font-size: 30px;
  color: $primary-color;
   margin-bottom: 26px;
}

/* modules */
@import "header";
@import "about-product";
@import "dignity";
@import "screenshots";